{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "destructuring": true,
    "modules": true
  },
  "rules": {
    "eol-last": ["error", "always"],
    "indent": ["error", 4, {"SwitchCase": 1}],
    "no-console": ["error"],
    "no-const-assign": ["error"],
    "no-tabs": ["error"],
    "no-trailing-spaces": ["error"],
    "no-unused-vars": ["error", {"vars": "all", "args": "none"}],
    "no-var": ["error"],
    "prefer-const": ["error"],
    "semi": ["error", "never"],
    "template-curly-spacing": ["error", "always"]
  }
}